.next
node_modules
scripts/DynamoDBtoCSV/config.json
notebooks/praw.ini
notebooks/.ipynb_checkpoints
data
functions/scraper/credentials.json
functions/scraper/*.js
functions/updater/*.js
functions/updater/credentials.json
